<h1 class = "top">Tasks</h1>
<div class="row">
     <% @tasks.each do |task| %>
          <div class = "task status_<%=task.status%>">  <%= render task %> </div>
          <%#debugger%>
     <% end %>
</div>
<div class="row">
<%= link_to 'New Task',  new_task_list_task_path(@task_list.id) , class: 'btn btn-primary'%>  
</div>