// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.task {
    margin-top: 2em;
        .action {opacity: 0;}
        &:hover .action { 
            opacity: 1;
            transition: opacity 0.5s ease;
        }


}
.comleted_true {color: #66FF00; text-decoration: line-through}
.comleted_false {color: #FF0000;}
.done{
    margin-left: 10px;
}
.comleted_true .done {display: none;}