// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.task {
    margin-top: 2em;
    
        .action {opacity: 0;}
        &:hover .action { 
            opacity: 1;
            transition: opacity 0.5s ease;

            
        }
        

}
.status_complited {color: #339933;text-align: center;}
.status_time_is_gone {color: #CC3300;text-align: center;}
.status_today {color: #FF6600;text-align: center;}
.status_tomorrow {color: #CCCC00;text-align: center;}
.status_later {color: #6600CC;text-align: center;}

.status_complited .done {display: none;}
