<header class="navbar navbar-fixed-top navbar-inverse "style="background-color: #FF6666;">
  <div class="container">
    <%= link_to "Just do it ", root_path, id: "logo" %>
        <ul >
          <% if(user_signed_in?)%>
              <li ><%= button_to "Log out", destroy_user_session_path, method: "delete",class:"btn btn-danger btn-sm" %></li>
            <% else %>
               <li > <%= button_to "Sign up now!",new_user_registration_path, method: "get" ,class:"btn btn-danger btn-sm"%> </li>
               <li > <%= button_to "Log in", new_user_session_path,class:"btn btn-danger btn-sm" %> </li>
          <% end %>
        </ul>
  </div>
</header>